@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --gray: rgb(37, 37, 37);
    --black: #0e0e0e;
    --blue : rgb(16, 147, 255);
    --background: rgb(231, 231, 231);
    --transition: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: var(--background);
}
.content-container{
    padding: 50px 100px;
}

.hr-separator{
    margin: 15px -20px 40px;
    border: 1px solid var(--gray);
    opacity: 0.7;
}

.hide {
    display: none;
}

.upload-btn {
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: var(--gray);
    transition: var(--transition);
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.upload-btn:hover{
    color: var(--blue);
    background-color: var(--black);
}
