{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/trailers.css">
{% endblock head %}

{% block content %}
<form method="POST" onkeydown="return event.key != 'Enter';">{%csrf_token%}
    <h1>My account</h1>
    <hr class="hr-separator">
    <div class="modify-account-container">
        <div class="input-container">
            <div class="counter-flex">
                <h2>Old password*</h2>
                <p id="old-password-p">(0/150)</p>
            </div>
            <p class="danger">{{form.username.errors.as_text}}</p>
            <input type="password" required id="old-password-input" maxlength="150" name="old">
        </div>
        <div class="input-container">
            <div class="counter-flex">
                <h2>New password*</h2>
                <p id="new-password-p">(0/150)</p>
            </div>
            <input type="password" required id="new-password-input" maxlength="150" name="new">
        </div>
        <div class="input-container">
            <div class="counter-flex">
                <h2>Confirm password*</h2>
            </div>
            <p class="danger" id="confirm-error-message"></p>
            <input type="password" required id="confirm-password-input" maxlength="150">
        </div>
        <br>
        <div class="container-end">
            <button type="button"id="open-confirmation-popup" class="btn-save">Save</button>
        </div>
    </div>
    
        
    <div class="popup" id="confirmation-popup">
        <div class="overlay">
            <div class="content">
                <div class="container-center">
                    <h2>Are you sure that you want to modify your account?</h2>
                </div>
                <div class="container-center">
                    <button type="button" class="btn-danger" id="close-confirmation-popup">Cancel</button>
                    <button type="submit" class="btn-save" id="save-confirmation">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div 
        {% if valid %}
            class="popup ok active"
        {% else %}
            class="popup ok"
        {% endif %}
        id="ok-popup">
        <div class="overlay">
            <div class="content">
                <div class="container-center">
                    <i class="fa-solid fa-check fa-beat" style="--fa-animation-duration: 2s;"></i>
                </div>
                <div class="container-center">
                    <h2>Account modified successfully</h2>
                </div>
                <div class="container-center">
                    <button type="button"id="close-ok-popup" class="btn-save">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div 
        {% if error %}
            class="popup error active"
        {% else %}
            class="popup error"
        {% endif %}
     id="error-popup">
        <div class="overlay">
            <div class="content">
                <div class="container-center">
                    <i class="fa-solid fa-triangle-exclamation fa-beat" style="--fa-animation-duration: 1s;"></i>
                </div>
                <div class="container-center">
                    <h2>There was an error</h2>
                </div>
                    <p>{{errorMessage}}</p>
                <div class="container-center">
                    <button type="button"id="close-error-popup" class="btn-danger">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup delete" id="delete-popup">
        <div class="overlay">
            <div class="content">
            <div class="container-center">
                    <i class="fa-solid fa-triangle-exclamation fa-beat" style="--fa-animation-duration: 1s;"></i>
                </div>
                <div class="container-center">
                    <h2>Are you sure that you want to change your password?</h2>
                </div>
                <div class="container-center">
                    <button type="button" class="btn-save" id="close-delete-popup">Cancel</button>
                    <button type="button" class="btn-danger" id="submit-delete-popup">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    const newInput = document.getElementById("new-password-input");
    const confirmInput = document.getElementById("confirm-password-input");
    newInput.addEventListener("input",()=>{
        passCheck();
    });
    confirmInput.addEventListener("input",()=>{
        passCheck();
    });
    function passCheck() {
        if (confirmInput.value != newInput.value) {
            document.getElementById("open-confirmation-popup").disabled = true;
            document.getElementById("confirm-error-message").innerHTML = "The password is not the same";
        }
        else {
            document.getElementById("open-confirmation-popup").disabled = false;
            document.getElementById("confirm-error-message").innerHTML = "";
        }
    }
</script>
<script src="/static/scripts/popup.js"></script>
<script src="/static/scripts/count-char.js"></script>
<script src="/static/scripts/change-password-count-char.js"></script>
{% endblock content %}