<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Trailers web</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <a href="#">
                    <img class="logo"src="{% static 'images/logo.png' %}" alt="logo">
                    <h1>Trailers Project</h1>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#">Trailers</a>
                    <ul>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">View all</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Categories</a>
                    <ul>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">View all</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-account">
                <h1><a href="#">My account</a> / <a href="#"><button>Log out</button></a></h1>
            </div>
        </nav>
        
    </header>
   
    {% block content %}
    {% endblock content %}

</body>
</html>