<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block head %}
    {% endblock head %}
    <title>Trailers web</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <a href="{% url 'home'  %}">
                    <img class="logo"src="{% static 'images/logo.png' %}" alt="logo">
                    <h1>Trailers Project</h1>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#">Trailers <i class="fa-solid fa-caret-down"></i></a>
                    <ul>
                        <a href="{% url 'Trailers:addTrailer' %}"><li>Add</li></a>
                        <a href="{% url 'Trailers:viewTrailers' %}"><li>View all</li></a>
                    </ul>
                </li>
                <li>
                    <a href="#">Categories <i class="fa-solid fa-caret-down"></i></a>
                    <ul>
                        <a href="{% url 'Trailers:addCategory' %}"><li>Add</li></a>
                        <a href="{% url 'Trailers:viewCategories' %}"><li>View all</li></a>
                    </ul>
                </li>
            </ul>
            <div class="nav-account">
                <h1><a href="{% url 'Login:myAccount' %}">My account</a> / <a href="{% url 'Login:logout' %}"><button>Log out</button></a></h1>
            </div>
        </nav>
        
    </header>
   <div class="content-container">
        {% block content %}
        {% endblock content %}
   </div>
    <script src="https://kit.fontawesome.com/a85c6bd14f.js" crossorigin="anonymous"></script>
</body>
</html>