{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/table.css">
{% endblock head %}

{% block content %}
<h1>view all trailers</h1>
<hr class="hr-separator">
<div class="view-content">
    <div class="search-container">
    </div>
    <div class="table-container">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release</th>
                <th></th>
            </tr>
            {% for trailer in trailers %}
            <tr>
                <td>{{trailer.id}}</td>
                <td>{{trailer.title}}</td>
                <td>{{trailer.release_date}}</td>
                <td><a href="{% url 'Trailers:modifyTrailer' trailer.id %}">Modify/Delete</a></td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
</div>
{% endblock content %}