{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/table.css">
{% endblock head %}

{% block content %}
<h1>view all categories</h1>
<hr class="hr-separator">
<div class="view-content">
    <div class="search-container">
    </div>
    <div class="table-container">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td><a href="{% url 'Trailers:modifyCategory' category.id %}">Modify/Delete</a></td>
                </tr>
            {% endfor %}
            
        </table>
    </div>
</div>
{% endblock content %}