{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/table.css">
{% endblock head %}

{% block content %}
<h1>view all trailers</h1>
<hr class="hr-separator">
<div class="view-content">
    <div class="search-container">
    </div>
    <div class="table-container">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th></th>
            </tr>
            <tr>
            <td>1</td>
            <td>adsadssadssdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaafddgdgdfgddgdddgdfdgdddd</td>
            <td><a href="#x">Modify/Delete</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}